body {
    direction: rtl;
    margin: 0px;
    padding: 0px;
    background-color: #fafafa;
    font-family: Dana;
    font-weight: 400;
    line-height: 1.43;
}

.menu-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    background-color: #fafafa;
    font-size: 10px;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 3%;
    height: 30px;
    padding-right: 24px;
    justify-content: center;
}

img {
    width: 45px;
    height: 35px;
}

.menu-items {
    display: flex;
    flex-direction: row;
    width: 68%;
    height: 35px;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fafafa;
    font-size: 10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: #fafafa;
}

.login-container {
    display: flex;
    flex-direction: row-reverse;
    width: 30%;
    height: 35px;
    padding-left: 24px;
    font-size: 12px;
}

a.login {
    display: inline-block;
    padding: 5px 5px;
    margin: 5px 5px;
    text-decoration: none;
    font-weight: 400;
    color: black;
    background-color: #fafafa;
    text-align: center;
}

a.button3:hover {
    background-color: #fafafa;
}

.slider-container {
    width: 100%;
    height: 690px;
}

.img {
    width: 100%;
    height: 100%;
}

.form-containers {
    width: 100%;
    height: 76px;
    background-color: #143FDD;
}

.form-container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    font-weight: 600;
    font-size: 11px;
    background-color: #143FDD;
    color: white;
}

.form-container-input {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 60px;
    background-color: #143FDD;
    color: white;
}

input {
    width: 230px;
    height: 30px;
    padding: 6px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: dana;
    font-weight: 600;
}

.button {
    width: 230px;
    height: 30px;
    padding: 6px 10px;
    margin: 8px 0;
    color: white;
    background-color: #FFB300;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: dana;
    font-weight: 500;
}