body {
    direction: rtl;
    margin: 0px;
    padding: 0px;
    background-color: #ECEFF1;
    font-family: Dana, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    ;
    font-weight: 400;
}

.menu-navbar {
    display: flex;
    flex-direction: row;
    height: 38.98px;
    background-color: #fafafa;
    font-size: 12px;
    padding-right: 24px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    width: 97.59px;
}

.logo-monta {
    width: 73.59px;
    height: 22.22px;
}

.logo:hover {
    background-color: #eeeded;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 68%;
    align-items: center;
    line-height: 27px;
}

.menu-items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-size: 12px;
}

.link {
    display: block;
    color: #3A3A3A;
    font-weight: 500;
    padding: 6px 12px;
    text-decoration: none;
}

.link:hover {
    background-color: #eeeded;
}

.login {
    display: flex;
    flex-direction: row-reverse;
    width: 480px;
    padding-left: 24px;
    font-size: 12px;
    font-weight: 500;
}

.login-register {
    display: flex;
    padding: 6px 12px;
    margin: 6px 0px;
    align-self: center;
    text-decoration: none;
    font-weight: 400;
    color: black;
    background-color: #fafafa;
}

.login-register:hover {
    background-color: #eeeded;
    border-radius: 15px;
}

.slider-container {
    width: 100%;
    height: 690px;
}

.monta-academy-registration {
    width: 100%;
    height: 100%;
}

.form {
    width: 100%;
    height: 136px;
    background-color: #143FDD;
    position: sticky;
    top: 39px;
    z-index: 1;
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 394;
    height: 48px;
    font-weight: 600;
    line-height: 24px;
    background-color: #143FDD;
    color: white;
}

.form-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 65%;
    height: 60px;
    background-color: #143FDD;
    color: white;
}

input {
    width: 292px;
    height: 44px;
    padding: 6px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 500;
}

.applying {
    width: 292px;
    height: 44px;
    padding: 6px 10px;
    color: white;
    background-color: #FFB300;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-weight: 500;
    line-height: 20px;
}

.applying:hover {
    background-color: #ff9900;
}

.container-four {
    width: 1296px;
    height: 1325px;
    background-color: white;
    margin: 25px auto;
    border-radius: 20px;
    padding: 16px;
}

.title {
    width: 100%;
    height: 44.48px;
    background-color: white;
}

.title-content {
    font-size: 16px;
    font-weight: 600;
}

.box {
    width: 100%;
    height: 238px;
    background-color: ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.box-slider {
    width: 421.33px;
    height: 238px;
    background-color: #fafafa;
    border-radius: 20px;
    border: 0.083rem solid rgb(231, 231, 231);
}

.box-slider-pic {
    width: 421.33px;
    height: 123.98px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.image {
    width: 421.33px;
    height: 123.98px;
    background-color: #e2e2e2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box-slider-content {
    width: 421.33px;
    height: 96.19px;
    background-color: #F9F9F9;
    font-size: 14px;
}

.box-slider-content-level {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 50.19px;
}

.box-slider-content-price {
    width: 100%;
    height: 19px;
    display: flex;
    justify-content: center;
    color: rgb(146, 145, 145);
}

.box-slider-content-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.number {
    font-size: 40px;
    padding-left: 5px;
    color: rgb(68, 68, 68);
    font-weight: 600;
}

.total {
    display: flex;
    align-self: center;
    padding: 5px;
    font-size: 30px;
    font-weight: 800;
    width: 10px;
    height: 20px;
    color: #D8D8D8;
}

.azmon {
    color: rgb(87, 85, 85);
    border-bottom: 1px solid gray;
    text-decoration: none;
}

.box-slider-row-four {
    width: 635px;
    height: 240px;
    margin-top: 15px;
    border: 0.083rem solid rgb(231, 231, 231);
    border-radius: 20px;
}

.box-slider-row-four-pic {
    width: 100%;
    height: 52%;
    border-bottom: 1px solid rgb(231, 231, 231);
    display: flex;
    justify-content: center;
}

.image-paye {
    width: 421.33px;
    height: 123.98px;
    background-color: #e2e2e2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box-slider-row-four-content {
    width: 100%;
    height: 47.8%;
    background-color: #F9F9F9;
    font-size: 14px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.box-slider-row-four-content-level {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 45%;
}

.box-slider-row-four-content-price {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    color: rgb(146, 145, 145);
}

.box-slider-row-four-content-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container-five {
    width: 1296px;
    height: 550px;
    background-color: white;
    margin: 25px auto;
    border-radius: 20px;
    padding: 16px;
}

.box-why {
    display: flex;
    direction: ltr;
    width: 1050px;
    height: 465px;
    background-color: white;
    margin: 0px auto;
}

.box-why-pic {
    width: 665px;
    height: 465px;
    background-color: white;
    margin-right: 20px;
    position: relative;
    border-radius: 20px;
}

.image-title {
    position: absolute;
    top: 30px;
    left: 115px;
    color: white;
}

.picture {
    width: 665px;
    height: 465px;
    z-index: -1;
}

.box-why-button {
    display: flex;
    justify-content: space-between;
    width: 385px;
    height: 465px;
    background-color: white;
    font-weight: 500;
}

.button-lists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 321px;
    height: 100%;
    background-color: white;
}

.button-list-one {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    border-radius: 12px;
    background-color: #FFB300;
    font-size: 14px;
}

.one {
    width: 15%;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    color: white;
}

.button-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    border-radius: 12px;
    background-color: #D8D8D8;
    cursor: pointer;
    font-size: 14px;
}

.column {
    width: 5px;
    height: 465px;
    background-color: #D8D8D8;
}

.container-six {
    width: 1296px;
    height: 613px;
    background-color: white;
    margin: 0px auto;
    border-radius: 20px;
    padding: 24px;
}

.button-levels {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 444px;
    height: 32px;
    background-color: white;
}

.level-one {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFB300;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.level {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #6C6C6C;
    border: 1px solid rgb(221, 221, 221);
    font-size: 14px;
    cursor: pointer;
}

.box-banner {
    display: flex;
    justify-content: space-between;
    width: 1295px;
    height: 550px;
    background-color: white;
    margin-top: 16px;
}

.box-banner-item {
    width: 421px;
    height: 540px;
    background-color: #F9F9F9;
    border-radius: 20px;
    border: 1px solid rgb(240, 240, 240);
}

.box-banner-image {
    width: 421px;
    height: 421px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.box-banner-link-one {
    width: 421px;
    height: 60.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #6C6C6C;
}

.box-banner-link-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 421px;
    height: 60.5px;
}

.all-book {
    color: #6C6C6C;
    text-decoration: none;
    border-bottom: 1px solid gray;
    font-size: 14px;
    font-weight: 500;
}