body {
    direction: rtl;
    margin: 0px;
    padding: 0px;
    background-color: #ECEFF1;
    font-family: Dana, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    ;
    font-weight: 400;
}

.menu-container {
    display: flex;
    flex-direction: row;
    height: 38.98px;
    background-color: #fafafa;
    font-size: 12px;
    padding-right: 24px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    width: 97.59px;
}

img {
    width: 73.59px;
    height: 22.22px;
}

.logo:hover {
    background-color: #eeeded;
}

.menu-items {
    display: flex;
    flex-direction: row;
    width: 68%;
    align-items: center;
    line-height: 27px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-size: 12px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #3A3A3A;
    font-weight: 500;
    padding: 6px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: #eeeded;
}

.login-container {
    display: flex;
    flex-direction: row-reverse;
    width: 480px;
    padding-left: 24px;
    font-size: 12px;
    font-weight: 500;
}

a.login {
    display: flex;
    padding: 6px 12px;
    margin: 6px 0px;
    align-self: center;
    text-decoration: none;
    font-weight: 400;
    color: black;
    background-color: #fafafa;
}

a.login:hover {
    background-color: #eeeded;
    border-radius: 15px;
}

.slider-container {
    width: 100%;
    height: 690px;
}

.img {
    width: 100%;
    height: 100%;
}

.form-containers {
    width: 100%;
    height: 136px;
    background-color: #143FDD;
}

.form-container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 394;
    height: 48px;
    font-weight: 600;
    line-height: 24px;
    background-color: #143FDD;
    color: white;
}

.form-container-input {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    width: 65%;
    height: 60px;
    background-color: #143FDDd;
    color: white;
}

input {
    width: 292px;
    height: 44px;
    padding: 6px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 12px;
    font-family: dana;
    font-weight: 500;
}

.button {
    width: 292px;
    height: 44px;
    padding: 6px 10px;
    margin: 8px 0;
    color: white;
    background-color: #FFB300;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-family: dana;
    font-weight: 500;
}